* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-image: linear-gradient(to right bottom, #000000, #1b1b1b, #2e2e2e, #444444, #5a5a5a);
  border-bottom: #cecece solid 0.8vh;
  height: auto;
  width: 100%; }
  header .navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: auto;
    align-items: center;
    padding: 1%; }
  header a {
    color: white;
    font-size: 150%;
    text-decoration: none;
    font-family: "Cinzel", serif; }
    header a:hover {
      text-decoration: underline; }
  header li {
    list-style: none; }
  header .logo1 img {
    height: 40px;
    width: auto; }
  header .pag {
    text-decoration: underline; }

footer {
  background-image: linear-gradient(to right bottom, #000000, #1b1b1b, #2e2e2e, #444444, #5a5a5a);
  height: auto;
  padding: 0.5%;
  width: auto;
  border-top: #cecece solid 0.8vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer img {
    height: 40px;
    width: auto; }
  footer p {
    color: white;
    font-family: "Cinzel", serif;
    font-size: 120%; }

body {
  background-image: linear-gradient(to right bottom, #ffffff, #dfdfdf, #c0c0c0, #a2a2a2, #858585); }

.title1 {
  background-image: url(../assets/fondo.jpg);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .title1 h1 {
    color: white;
    font-size: 250%;
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: underline; }

.container {
  padding: 2%;
  display: flex;
  justify-content: left;
  align-items: center; }
  .container .buz {
    background-color: #00000088;
    border-radius: 10px;
    height: 10vh;
    width: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center; }

h2 {
  color: white;
  font-size: 250%;
  font-family: "Cinzel", serif;
  padding: 1%; }

.text {
  padding: 2%; }
  .text .text1 {
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    padding: 1.5%;
    background: #00000086;
    border-radius: 8px; }

.boxForms {
  background-color: #00000062;
  border: #000000 solid 5px;
  margin: 2%; }
  .boxForms .forms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    padding: 2%; }
    .boxForms .forms input {
      border: #000000 solid 2px;
      border-radius: 5px;
      font-family: "Merriweather Sans", sans-serif; }

.algunos {
  padding: 2%;
  background: #00000079;
  border-radius: 6px; }
  .algunos input {
    height: 2.5vh;
    font-family: "Merriweather Sans", sans-serif; }

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  gap: 20px;
  padding: 20px; }
  .gridContainer .grid-item {
    border-radius: 15%;
    border: #161616 solid 3px; }

.caja1 {
  border: #000000 solid 3px;
  width: fit-content;
  background-color: #00000070;
  margin-left: 10px; }
  .caja1 .busqueda {
    padding: 20px; }

.container1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap; }
  .container1 .card {
    width: 100%;
    margin: 20px;
    max-width: 524px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px black;
    transition: all 400ms ease;
    cursor: default; }
    .container1 .card:hover {
      box-shadow: 5px 5px 20px black;
      transform: translateY(-3%); }
    .container1 .card .contenido {
      font-family: "Merriweather Sans", sans-serif; }
      .container1 .card .contenido h3 {
        font-size: 25px;
        padding: 10px; }
      .container1 .card .contenido p {
        font-size: 15px;
        padding: 10px; }

.boton {
  padding: 10px;
  display: flex;
  justify-content: center; }
  .boton button {
    padding: 5px;
    border: #4d98ee94 solid 3px;
    border-radius: 6px; }
    .boton button a {
      font-family: "Merriweather Sans", sans-serif;
      font-size: 15px;
      color: #000000;
      text-decoration: none; }
    .boton button:hover {
      background-color: #4d98ee44; }

h4 {
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 27px;
  padding: 1%;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  background: #0000006c;
  border-radius: 6px; }

.caja3 {
  padding: 0.2% 2% 5% 2%; }
  .caja3 .container2 {
    background: white;
    border-radius: 6px;
    padding: 1%;
    border: #000000 solid 3px; }
    .caja3 .container2 .h5 {
      border-bottom: #000000 solid; }
      .caja3 .container2 .h5 h5 {
        color: black;
        font-family: "Cinzel", serif;
        font-size: 30px; }
    .caja3 .container2 h6 {
      font-family: "Merriweather Sans", sans-serif;
      font-size: 20px;
      padding-top: 10px; }
    .caja3 .container2 .opcion {
      display: flex;
      flex-flow: row wrap;
      font-family: "Cinzel", serif;
      gap: 10px;
      padding-bottom: 10px; }
    .caja3 .container2 .houseimg {
      border-radius: 12px;
      border: #000000 solid;
      width: fit-content;
      display: flex; }
      .caja3 .container2 .houseimg img {
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        width: 100%;
        height: auto; }
    .caja3 .container2 .detalles textarea {
      height: 100px;
      width: 100%;
      padding: 5px; }

.gridContainer1 {
  display: grid;
  gap: 30px;
  padding: 20px 5%; }
  .gridContainer1 .grid-item1 {
    border-radius: 10px;
    border: #8b8b8b solid 3px;
    background-color: #ebebeb;
    padding: 0px 10px 20px 10px;
    font-family: "Merriweather Sans", sans-serif;
    box-shadow: #000000 10px 10px 15px; }
    .gridContainer1 .grid-item1 h6 {
      color: #000000;
      font-size: 40px;
      padding: 10px 0px 5px 0px; }
    .gridContainer1 .grid-item1 p {
      font-size: 22px; }
