$typo-1: 'Cinzel', serif;
$typo-2: 'Merriweather Sans', sans-serif;

$gradiant-1: linear-gradient(to right bottom, #000000, #1b1b1b, #2e2e2e, #444444, #5a5a5a);
$gradiant-2: linear-gradient(to right bottom, #ffffff, #dfdfdf, #c0c0c0, #a2a2a2, #858585);
$color-1: rgb(206, 206, 206) solid 0.8vh;